.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

#color1
{
    width: 500px;
    padding: 20px;
}

#color1>button
{
    color: yellow;
    background-color:red ; 
}

#color2
{
    width: 500px;
    padding: 20px;
    margin-top: 10px;
}

button{
    padding: 10px 20px;
    border: none;
}

#color2>button
{
    color: #ADBC9F;
    background-color:#12372A ; 
}
